# Introduction

In this Python notebook I will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLite database
3.  Execute SQL queries to analyze the data presented

## Understand the datasets

The three datasets that will be analyzed were retrieved from the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

Below is the three datasets that are to be analyzed and available as .CSV files.

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
I will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Now I'll load the ipython-sql  extension and establish a connection with the database:

In [2]:
import csv, sqlite3

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

!pip install -q pandas==1.1.5

%load_ext sql

%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [3]:
import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

First I'll find the total number of crimes committed that's recorded in the Crime table.

In [4]:
%sql SELECT COUNT(case_number) FROM Chicago_Crime_Data;

 * sqlite:///FinalDB.db
Done.

[(533,)]

Next I'll find the all the case numbers that involve crimes involving minors, followed by the crimes that involve the kidnapping of a child.

In [5]:
%sql SELECT DISTINCT Case_Number FROM Chicago_Crime_Data WHERE Description LIKE '%Minor%';

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

In [6]:
%sql SELECT DISTINCT Case_Number, Primary_Type, Description, Date FROM Chicago_Crime_Data \
WHERE Primary_Type = 'KIDNAPPING';

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', '2007-01-26')]

So I started with a very specific niche of crimes (those involving minors or kidnapping) and not utilizing the data entirely. Now I'm more interested in searching the kind of crimes at happens at the schools and the safety score collected from each type of school (elementary, middle, and high school). The safety score is collected from surveys conducted by the students perception/safety score 5 Essential Survey.

In [7]:
%sql SELECT DISTINCT(Primary_Type), Location_Description FROM Chicago_Crime_Data \
WHERE Location_Description LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

In [8]:
%sql SELECT "Elementary, Middle, or High School", AVG(Safety_Score) AS Average_Safety_Score \
FROM Chicago_Public_Schools_Data GROUP BY "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

I gather from the information above that there is a variety of crimes committed at the schools, with narcotics, battery, and public peace violation are equally leading the way in terms of volume, which isn't notable. I also notice that based on the safety scores, high schools are perceived as having the highest level of safety while middle school is perceived to having the lowest level of safety.

Here I want to pivot and analyze the data from the Census table and see if there is a correlation to number of crimes committed and a community's income or hardship index number. I'll begin by searching for the bottom five communities in terms of highest percentage of households living below the poverty line.

In [9]:
%sql SELECT Community_Area_Name, Percent_Households_Below_Poverty FROM Census_Data \
ORDER By Percent_Households_Below_Poverty DESC Limit 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [10]:
%sql SELECT community_area_name FROM Census_Data WHERE per_capita_income < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

With that information, I now know that Riverdale, Fuller Park,  West & East Garfield Park and North & South Lawndale are some of the harder hit communities. I can try to find which of these, if any, is the community hit hardest according to the highest hardship index, which incorporates six socioeconomic indicators found in the Census dataset:

1. Percent of Housing Crowded
2. Percent of Households Below Poverty
3. Percent Aged 16+ Unemployed
4. Percent Aged 25+ Without High School Diploma
5. Percent Aged Under 18 Or Over 64
6. Per Capita Income

In [11]:
%sql SELECT Community_Area_Name FROM Census_Data WHERE Hardship_Index = (SELECT MAX(Hardship_Index)FROM Census_Data);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

Now we can conclude that the Riverdale community is the hardest hit in the city of Chicago, and we can now try to find if it's also the community area that is the most crime prone or has the most number of crimes recorded.

In [12]:
%%sql
SELECT Community_Area_Number, COUNT(Community_Area_Number) AS Frequency
FROM Chicago_Crime_Data
GROUP BY Community_Area_Number
ORDER BY COUNT(Community_Area_Number) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

In [13]:
%%sql
SELECT Community_Area_Name FROM Census_Data
WHERE Community_Area_Number = (SELECT Community_Area_Number FROM Chicago_Crime_Data
                               GROUP BY Community_Area_Number
                               ORDER BY COUNT(Community_Area_Number) DESC
                               LIMIT 1)
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

## Conclusion

After pulling up the data to figure out that Riverdale is the hardest hit community area according to the hardship index, I tried to then pull up which community area is the most crime prone. That information led to the community area of Austin, which was not even listed as the bottom five community areas in terms of highest amount of households living below the poverty line. Therefore, it can be concluded that there is no correlation to the community with the hardest hit economically is also the community with the highest occurrence of crime.

## Author

Marcos Soares